 body { 
    background-image: url(../assets/images/sunsetpink.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: sans-serif; 
}


/* Color Palette

indigo rgb(75, 86, 132)
indigo lighten-2 rgb(117, 122, 162)
orange accent-1 rgb(255, 186, 119)
orange accent-2 rgb(226, 133, 76)
blue-grey darken-4 rgb(36, 42, 58)
blue-grey darken-3

*/


.transparente{
  background-color:rgba(36, 42, 58, 0.9);
  border: none;
  border-radius: 50px 10px;
}

button > a {
  color: white;
}

button{
  font-size: 9pt;
}

.center{
  margin: auto;
}   
  
.row1{
  height: 30px;
}

