<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Red Social</title>
    <link rel="stylesheet" href="../materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>

    <!-- Navbar -->

    <header>
        <nav class="nav-extended blue-grey darken-4">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">
                    <img src="../assets/images/rally-logo.png" alt="">
                </a>
                <a href="#" data-activates="slide-out" class="button-collapse show-on-large">
                    <i class="material-icons">menu</i>
                </a>

                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <h5 id="name">nombre de usuario</h5>
                    </li>
                    <li>
                        <a class="modal-trigger" href="#modal1">
                            <img id="photo" src="../assets/images/user.png" width="50px" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Parallax -->

    <div class="parallax-container">

        <div class="parallax">
            <img src="../assets/images/revnoche.jpg" width="100px">
        </div>
        <div class="container">
            <div class="space"></div>
            <div class="row">
                <div class="offset-s3 col s6 div-planear">
                    <h3 class="orange-text text-accent-1 center titulo">¡Elige tu ruta!</h3>
                </div>
            </div>

            <div class="row">
                <div class="col s12 l6">
                    <label>Colonia</label>
                    <select class="browser-default">
                        <option value="" disabled selected>Colonia</option>
                        <option value="1">Roma</option>
                        <option value="2">Condesa</option>
                        <option value="3">Centro</option>
                    </select>
                </div>
                <div class="col s12 l6">
                    <label>Duración</label>
                    <select class="browser-default">
                        <option value="" disabled selected>Duración</option>
                        <option value="1">2 hrs</option>
                        <option value="2">4 hrs</option>
                        <option value="3">6+</option>
                    </select>
                </div>
                <br>
            </div>

            <div class="row">
                <div class="col s10">
                    <button type='submit' name='btn_login' class='col s10 push-s2 btn orange accent-2'>
                        <a href="route1.html">Iniciar recorrido</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Recorridos populares -->

    <div class="container">
        <div class="row">
            <br>
            <h5 class="indigo-text text-lighten-2 center">Recorridos Populares...</h5>
            <br>
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s4">
                        <a href="#test1">col. Chimalistac</a>
                    </li>
                    <li class="tab col s4">
                        <a class="active" href="#test2">col. Condesa</a>
                    </li>
                    <li class="tab col s4 ">
                        <a href="#test3">col. Roma</a>
                    </li>
                </ul>

                <div class="row ">
                    <div id="test1" class="col s12 l12 #e0f2f1 indigo lighten-5 popu">
                        <div>
                            <ul>
                                <li>
                                    <p class="indigo-text text-darken-3">Col. Chimalistac - Paseo del Carmen</p>
                                </li>
                                <li>
                                    <p class="cyan-text text-darken-2">
                                        <i class="tiny material-icons">access_time</i> Duración: 3 hrs</p>
                                </li>
                                <div class="row">
                                    <div class="col s6">
                                        <img src="../assets/images/san-angel1.jpg" width="100%" alt="">
                                    </div>
                                    <div class="col s6">
                                        <img src="../assets/images/san-angel2.jpg" width="100%" alt="">
                                    </div>
                                </div>
                                <li>
                                    <p>Puntaje
                                        <i class="tiny material-icons cyan-text text-darken-2">star star star star star</i>
                                    </p>
                                </li>
                                <li>
                                    <button type='submit' name='btn_login' class='col s10 push-s2 btn orange accent-3'>
                                        <a href="route1.html">Iniciar recorrido</a>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="test2" class="col s12 l12 #e0f2f1 indigo lighten-5 popu">
                        <div>
                            <ul>
                                <li>
                                    <p class="indigo-text text-darken-3">Col. Condesa - Pasaje dulce</p>
                                </li>
                                <li>
                                    <p class="cyan-text text-darken-2">
                                        <i class="tiny material-icons">access_time</i> Duración: 2 hrs</p>
                                </li>
                                <div class="row">
                                    <div class="col s6">
                                        <img src="../assets/images/condesa1.jpg" width="100%" alt="">
                                    </div>
                                    <div class="col s6">
                                        <img src="../assets/images/condesa2.jpg" width="100%" alt="">
                                    </div>
                                </div>
                                <li>
                                    <p>Puntaje
                                        <i class="tiny material-icons cyan-text text-darken-2">star star star star_half star_border</i>
                                    </p>
                                </li>
                                <li>
                                    <button type='submit' name='btn_login' class='col s10 push-s2 btn orange accent-3'>
                                        <a href="route1.html">Iniciar recorrido</a>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="test3" class="col s12 l12 #e0f2f1 indigo lighten-5 popu">
                        <div>
                            <ul>
                                <li>
                                    <p class="indigo-text text-darken-3">Col. Roma - Pasaje del vino</p>
                                </li>
                                <li>
                                    <p class="cyan-text text-darken-2">
                                        <i class="tiny material-icons">access_time</i> Duración: 3 hrs</p>
                                </li>
                                <div class="row">
                                    <div class="col s6">
                                        <img src="../assets/images/roma1.jpg" width="100%" alt="">
                                    </div>
                                    <div class="col s6">
                                        <img src="../assets/images/roma2.jpg" width="100%" alt="">
                                    </div>
                                </div>
                                <li>
                                    <p>Puntaje
                                        <i class="tiny material-icons cyan-text text-darken-2">star star star star_half star_border</i>
                                    </p>
                                </li>
                                <li>
                                    <button type='submit' name='btn_login' class='col s10 push-s2 btn orange accent-3'>
                                        <a href="route1.html">Iniciar recorrido</a>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Parallax -->

            <div class="parallax-container">
                <div class="parallax">
                    <img src="../assets/images/soumaya.jpg">
                </div>
            </div>

            <!-- User Modal -->

            <div id="modal1" class="modal ">
                <i class="tiny material-icons right">close</i>
                <p>
                    <img class="photo" src="../assets/images/user.png" width="90px" alt="">
                </p>
                <h3 class="name">Nombre de Usuario</h3>
                <h4>
                    <i class="small material-icons cyan-text text-darken-2">favorite_border</i>
                    <div class="contador"></div>
                </h4>
            </div>

            <!-- Comienza una ruta MODAL -->

            <div id="modal2" class="modal">
                <div class="container" id="recorre1">
                    <div class="space"></div>
                    <div class="row">
                        <div class="offset-s3 col s6 div-planear">
                            <ul>
                                <li>
                                    <h5 class="blue-grey-text text-darken-4 center">¡Comienza a recorrer la ciudad!</h5>
                                </li>
                                <br>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 l6">
                            <label>Duración</label>
                            <select class="browser-default">
                                <option value="" disabled selected>Elige la duración</option>
                                <option value="1">2 hrs</option>
                                <option value="2">4 hrs</option>
                                <option value="3">6+</option>
                            </select>
                        </div>
                        <div class="col s12 l6">
                            <label>Colonia</label>
                            <select class="browser-default">
                                <option value="" disabled selected>Elige una colonia</option>
                                <option value="1">Roma</option>
                                <option value="2">Condesa</option>
                                <option value="3">Centro</option>
                            </select>
                        </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col s10">
                            <button type='submit' name='btn_login' class='col s10 push-s2 btn orange accent-2'>
                                <a href="route1.html">Iniciar recorrido</a>
                            </button>
                        </div>
                    </div>
                </div>
                </div>


            <!-- User SideNav -->

            <ul id="slide-out" class="side-nav">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img  src="../assets/images/soumaya.jpg" class="center" width="160%">
                        </div>
                        <div class="row">
                            <div class="col s4"></div>
                            <div class="col s3 ">
                                <img class="circle photo" src="../assets/images/user.png" width="90px" alt="">
                            </div>
                            <div class="col s5"></div>
                        </div>
                        <h3 class="white-text name">Nombre de usuario</h3>
                    </div>
                </li>
                <h5>
                    <i class="tiny material-icons cyan-text text-darken-2">favorite_border</i>
                    <div class="contador"></div>
                </h5>
                <li>
                    <div class="divider"></div>
                </li>
                <li>
                    <a href="home.html">Home</a>
                </li>
                <button type='submit' name='btn_login' class='col s12 btn orange accent-2'>
                    <a class="modal-trigger" href="#modal2"> Nuevo recorrido</a>
                </button>
            </ul>


    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-auth.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../materialize/js/materialize.min.js"></script>
    <script src="../js/data-ruta.js"></script>
    <script src="../js/login.js"></script>
    <script src="../js/data-ruta.js"></script>
    <script src="../js/app.js"></script>

</body>

</html>
