<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Red Social</title>
    <link rel="stylesheet" href="../materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>

    <!-- Navbar -->

    <header>
        <nav class="nav-extended blue-grey darken-4">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">
                    <img src="../assets/images/rally-logo.png" alt="">
                </a>
                <a href="#" data-activates="slide-out" class="button-collapse show-on-large">
                    <i class="material-icons">menu</i>
                </a>
                <a href="#" data-activates="mobile-demo" class="button-collapse right">
                    <ul>
                        <li>
                            <input id="last_name" type="text" class="validate" placeholder="search">
                        </li>
                        <li>
                            <i class="small material-icons">search</i>
                        </li>
                    </ul>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <input id="last_name" type="text" class="validate" placeholder="search">
                    </li>
                    <li>
                        <i class="small material-icons">search</i>
                    </li>
                    <li>
                        <a class="modal-trigger" href="#modal1">
                            <img src="../assets/images/user.png" width="50px" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="parallax-container">
        <div class="parallax">
            <img src="../assets/images/revnoche.jpg" width="300px">
        </div>
    </div>

    <!-- Recorre la ciudad -->

    <div class="container">
        <div class="space"></div>
        <div class="row">
            <div class="offset-s3 col s6 div-planear">
                <ul>
                    <li>
                        <h5 class="blue-grey-text text-darken-4 center">¡Comienza a recorrer la ciudad!</h5>
                    </li>
                    <br>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col s4 push-s2">
                <label>Colonia</label>
                <select class="browser-default">
                    <option value="" disabled selected>Elige una colonia</option>
                    <option value="1">Roma</option>
                    <option value="2">Condesa</option>
                    <option value="3">Centro</option>
                </select>
            </div>
            <div class="col s4 push-s2">
                <label>Duración</label>
                <select class="browser-default">
                    <option value="" disabled selected>Elige la duración</option>
                    <option value="1">2 hrs</option>
                    <option value="2">4 hrs</option>
                    <option value="3">6+</option>
                </select>
            </div>
            <br>
        </div>
        <div class="row">
            <div class="col s10">
                <button type='submit' name='btn_login' class='col s10 push-s2 btn orange accent-2'>
                    Iniciar recorrido
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col s6 left">
                <h6 class="indigo-text text-darken-3 center">Recorridos Populares...</h6>
            </div>
        </div>

        <!-- Recorridos populares -->

        <div class="row ">
            <div class="col s12 l3 push-l1  #e0f2f1 indigo lighten-5 popu">
                <div>
                    <ul>
                        <li>
                            <p class="indigo-text text-darken-3">Colonia Chimalistac - Paseo del Carmen</p>
                        </li>
                        <li>
                            <p class="cyan-text text-darken-2"><i class="tiny material-icons">access_time</i>  Duración: 3 hrs</p>
                        </li>
                        <div class="row">
                            <div class="col s6">
                                <img src="../assets/images/roma1.jpg" width="100%" alt="">
                            </div>
                            <div class="col s6">
                                <img src="../assets/images/roma2.jpg" width="100%" alt="">
                            </div>
                        </div>
                        <li>
                            <p>Puntaje
                                <i class="tiny material-icons cyan-text text-darken-2">star star star star star</i>
                            </p>
                        </li>
                        <li>
                            <button type='submit' name='btn_login' class='col s10 push-s2 btn orange accent-3'>
                                Iniciar recorrido
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col s12 l3 push-l1  #e0f2f1 indigo lighten-5 popu">
                <div>
                    <ul>
                        <li>
                            <p class="indigo-text text-darken-3">Colonia Condesa - Pasaje dulce</p>
                        </li>
                        <li>
                            <p class="cyan-text text-darken-2"><i class="tiny material-icons">access_time</i>  Duración: 2 hrs</p>
                        </li>
                        <div class="row">
                            <div class="col s6">
                                <img src="../assets/images/roma1.jpg" width="100%" alt="">
                            </div>
                            <div class="col s6">
                                <img src="../assets/images/roma2.jpg" width="100%" alt="">
                            </div>
                        </div>
                        <li>
                            <p>Puntaje
                                <i class="tiny material-icons cyan-text text-darken-2">star star star star_half star_border</i>
                            </p>
                        </li>
                        <li>
                            <button type='submit' name='btn_login' class='col s10 push-s2 btn orange accent-3'>
                                Iniciar recorrido
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col s12 l3 push-l1  #e0f2f1 indigo lighten-5 popu">
                <div>
                    <ul>
                        <li>
                            <p class="indigo-text text-darken-3">Colonia Roma - Pasaje del vino</p>
                        </li>
                        <li>
                            <p class="cyan-text text-darken-2"><i class="tiny material-icons">access_time</i>  Duración: 3 hrs</p>
                        </li>
                        <div class="row">
                            <div class="col s6">
                                <img src="../assets/images/roma1.jpg" width="100%" alt="">
                            </div>
                            <div class="col s6">
                                <img src="../assets/images/roma2.jpg" width="100%" alt="">
                            </div>
                        </div>
                        <li>
                            <p>Puntaje
                                <i class="tiny material-icons cyan-text text-darken-2">star star star star_half star_border</i>
                            </p>
                        </li>
                        <li>
                            <button type='submit' name='btn_login' class='col s10 push-s2 btn orange accent-3'>
                                Iniciar recorrido
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <div class="parallax-container">
        <div class="parallax">
            <img src="../assets/images/soumaya.jpg">
        </div>
    </div>

    <!-- User Modal -->

    <div id="modal1" class="modal">
        <i class="tiny material-icons right">close</i>
        <p>
            <img src="../assets/images/userman.png" width="90px" alt="">
        </p>
        <h2>Elena Troya</h2>
        <p>
            <span>
                <i class="mdi-action-perm-identity cyan-text text-darken-2"></i>---Wanderlust---</span>
        </p>
        <p>Los viajes ilustran...</p>
        <p>
            <i class="tiny material-icons cyan-text text-darken-2">favorite_border</i> Puntos : 8989</p>
        <p>
            <i class="tiny material-icons cyan-text text-darken-2">email</i> elena@troya.com</p>
        <p>Puntaje
            <i class="tiny material-icons cyan-text text-darken-2">star star star star_half star_border</i>
        </p>
        <p>
            <i class="tiny material-icons cyan-text text-darken-2">airplanemode_active</i>viajando ahora</p>
        <a href="profile.html" class="modal-trigger waves-effect deep-purple lighten-3 btn planear">Ver perfil de viajes</a>
    </div>

    <!-- Plan Modal -->

    <div id="modal2" class="modal">
        <div class="row ">
            <div class="col s9 left">
                <h5>¡Crea el viaje perfecto!</h5>
            </div>
            <div class="col s3">
                <img class="right" src="../assets/images/go.png" width="50px" alt="">
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect orange darken-1" type="submit" name="action">Hotel
                <i class="material-icons right">hotel</i>
            </button>
            <button class="btn waves-effect orange darken-1" type="submit" name="action">Auto
                <i class="material-icons right">directions_car</i>
            </button>
        </div>
        <div class="row">
            <div class="col s4">
                <p>
                    <input type="checkbox" id="test5" />
                    <label for="test5">Ida y vuelta</label>
                </p>
            </div>
            <div class="col s4">
                <p>
                    <input type="checkbox" id="test5" />
                    <label for="test5">Solo ida</label>
                </p>
            </div>
            <div class="col s4">
                <p>
                    <input type="checkbox" id="test5" />
                    <label for="test5">Multidestino</label>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <p>Origen</p>
                <input type="text" placeholder="CDMX">
            </div>
            <div class="col s6">
                <p>Destino</p>
                <input type="text" placeholder="¿A dónde quieres viajar?">
            </div>
        </div>
        <div class="row">
            <div class="col s4">
                <p>Fechas</p>
                <input type="text" placeholder="Partida">
            </div>
            <div class="col s4">
                <p>-</p>
                <input type="text" placeholder="Regreso">
            </div>
            <div class="col s4">
                <p>Pasajeros</p>
                <input type="text" placeholder="¿Cuantas personas?">
            </div>
            <a class="waves-effect orange darken-1 btn">¡Encuentra tu viaje!</a>
        </div>

    </div>

    <!-- User SideNav -->

    <ul id="slide-out" class="side-nav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="../assets/images/gray_suitcase.jpg" class="center" width="160%">
                </div>
                <div class="row">
                    <div class="col s4"></div>
                    <div class="col s3 ">
                        <img class="circle" src="../assets/images/userman.png" width="90px" alt="">
                    </div>
                    <div class="col s5"></div>
                </div>
                <h5 class="white-text">Elena Troya</h5>
                <h5 class="white-text">elena@troya.com</h5>
            </div>
        </li>
        <p>Puntaje
            <i class="tiny material-icons cyan-text text-darken-2">star star star star_half star_border</i>
        </p>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a href="home.html">Home</a>
        </li>
        <li>
            <a href="friends.html">Amigos</a>
        </li>
        <li>
            <a class="modal-trigger" href="#modal2">Planea tu viaje</a>
        </li>
        <a href="profile.html" class="modal-trigger waves-effect deep-purple lighten-3 btn planear">Ver perfil de viajes</a>
        <br>
        <a href="#" class="modal-trigger waves-effect  green accent-3 btn planear">¡RECOMPENSAS!</a>
    </ul>

    <ul id="slide-out" class="side-nav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="../assets/images/gray_suitcase.jpg" class="center" width="160%">
                </div>
                <div class="row">
                    <div class="col s4"></div>
                    <div class="col s3 ">
                        <img class="circle" src="../assets/images/userman.png" width="90px" alt="">
                    </div>
                    <div class="col s5"></div>
                </div>
                <h5 class="white-text">Elena Troya</h5>
                <h5 class="white-text">elena@troya.com</h5>
            </div>
        </li>
        <p>Puntaje
            <i class="tiny material-icons cyan-text text-darken-2">star star star star_half star_border</i>
        </p>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a href="home.html">Home</a>
        </li>
        <li>
            <a href="friends.html">Amigos</a>
        </li>
        <li>
            <a class="modal-trigger" href="#modal2">Planea tu viaje</a>
        </li>
        <a href="profile.html" class="modal-trigger waves-effect deep-purple lighten-3 btn planear">Ver perfil de viajes</a>
        <br>
        <a href="#" class="modal-trigger waves-effect  green accent-3 btn planear">¡RECOMPENSAS!</a>
    </ul>


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../materialize/js/materialize.min.js"></script>
    <script src="../js/app.js"></script>
</body>

</html>