<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>rally</title>
    <link rel="stylesheet" href="../materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/main-map.css">
</head>

<body>

    <!-- Navbar -->

    <header>
        <nav class="nav-extended blue-grey darken-4">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">
                    <img src="../assets/images/rally-logo.png" alt="">
                </a>
                <a href="#" data-activates="slide-out" class="button-collapse show-on-large">
                    <i class="material-icons">menu</i>
                </a>

                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <h6 id="name">nombre de usuario</h6>
                    </li>
                    <li>
                        <a class="modal-trigger" href="#modal1">
                            <img id="photo" src="../assets/images/user.png" width="50px" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Parallax -->

    <div class="parallax-container route">
        <div class="parallax">
            <img src="../assets/images/sanangelparalax.jpg" width="300px">
        </div>
    </div>


    <!-- RUTA  and Fiction Map-->

    <div class="space"></div>
    <div class="offset-s3 col s6 div-planear">
        <h4 class="orange-text text-accent-1 center ">Ruta col. San Angel</h4>
    </div>
    <div class="container map">
        <div class="space"></div>
        <div class="row">
            <div class="col s12 center map">
                <h5>¡Sigue la ruta!</h5>
                <!-- <img src="../assets/images/map.png" alt="map"> -->
            </div>
        </div>
    </div>

    <!-- Mapa -->

    <div class="row center">
        <div class="col s12 push-s1 l6 push-l3">
            <div id="map" class="responsive-img"></div>
        </div>
    </div>
    <div class="space"></div>
    <div class="container indigo lighten-2">
        <div class="row">
            <div class="col s12 l4 push-l2">
                <b>Punto de inicio</b>
                <select id="start">
                    <option value="Plaza del carmen, San Angel">Plaza del Carmen</option>
                </select>
                <br>
            </div>
            <div class="col s12 l4 push-l2">
                <b>Fin del recorrido</b>
                <select id="end">
                    <option value="Museo del Carmen, San Angel">Templo del Carmen</option>
                </select>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col s10 push-s1 l10 push-l1">
                <b>Colonias:</b>
                <select id="waypoints" onchange="filterElements(event)">
                    <option data-index="0" value="Plaza del Carmen, San Angel">Plaza del Carmen</option>
                    <option data-index="1" value="Biblioteca de las Revoluciones, San Angel">Biblioteca de las Revoluciones</option>
                   
                    <option data-index="3" value="casa del Obispo, San Angel">Casa de Obispo</option>
                    <option data-index="4" value="Parroquia de San Jacinto, San Angel">Parroquia de San Jacinto</option>
                    <option data-index="5" value="Plaza de los cielos, San Angel">Plaza de los Cielos</option>
                    <option data-index="6" value="La Casa Blanca, San Angel">La Casa Blanca</option>
                    <option data-index="7" value="Plaza de los Arcangeles, San Angel">Plaza de los Arcángeles</option>
                    <option data-index="8" value="Jardin del arte, San Angel">Jardín del Arte</option>
                    <option data-index="9" value="Plaza San Jacinto, San Angel">Plaza san Jacinto</option>
                    <option data-index="10" value="Plaza Villa San Jacinto, San Angel">Plaza Villa San Jacinto</option>
                    <option data-index="11" value="Museo Casa del Risco, San Angel">Casa del Risco</option>
                    <option data-index="12" value="Centro Cultural San Angel, San Angel">Centro Cultural San Ángel</option>
                    <option data-index="13" value="Templo del Carmen, San Angel">Templo del Carmen</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col s5 l5 push-l5 ">
                <input type="submit" id="submit" class="orange">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div id="directions-panel" hidden></div>
            </div>
        </div>
    </div>

    <!--  Info card -->

    <div class="row">
        <div class="col s12 center">
            <button type='submit' name='btn_login' class='col s6 push-s3 btn orange accent-2'>
                <a class="modal-trigger" href="#modal3">Siguiente</a>
            </button>
        </div>
    </div>

    <div id="card" class="container infoCard">
        <!--
        <div class="row">
            <div class="col s12 left">
                <h5 class="blue-grey-text text-darken-3">Museo del Carmen</h5>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <img src="../assets/images/san-angel1.jpg" width="100%" alt="">
            </div>
            <div class="col s6">
                <img src="../assets/images/san-angel2.jpg" width="100%" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit harum non sequi voluptatem laudantium exercitationem
                    suscipit, facilis repellendus, perspiciatis enim inventore explicabo atque magnam? Dolore corrupti veritatis
                    officiis nostrum alias fugiat odit quidem, voluptas odio dolor autem aliquid ut sunt sapiente natus perspiciatis,
                    distinctio vitae repellat veniam eius eveniet sequi.</p>
            </div>
        </div>
    -->

        <!-- <div class="row">
                <div class="col s12 center">
                    <form action="#" class="center">
                        <p>
                            <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                        <label for="filled-in-box">He terminado esta estación</label>
                        </p>
                    </form>
                </div>
            </div>
        </div> -->

        <div class="row">
            <div class="col s12 center">
                <button type='submit' name='btn_login' class='col s6 push-s3 btn blue-grey darken-4'>
                    <a class="modal-trigger" href="route3.html">Finalizar recorrido</a>
                </button>
            </div>
        </div>

        <!-- trivia MODAL -->

        <div id="modal3" class="modal">
            <div class="row">
                <div class="col s12 indigo lighten-2 center">
                    <h5 class="white-text"> TRIVIA </h5>
                    <h6 class="white-text">¿Dónde se encuentra el vitral de ntra. sra. del Carmen?</h6>
                    <img src="../assets/images/carmen.jpg" alt="" width="200px">
                </div>
            </div>
            <div class="row">
                <div class="col s12 center">
                    <form action="#" class="center">
                        <p>
                            <input type="checkbox" id="test5" />
                            <label for="test5">Dentro de la nave lateral</label>
                        </p>
                        <p>
                            <input type="checkbox" id="test4" />
                            <label for="test4">En el baptisterio</label>
                        </p>
                        <p>
                            <input type="checkbox" id="test4" />
                            <label for="test4">En el atrio</label>
                        </p>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center">
                    <button type='submit' name='btn_login' class='col s6 push-s3 btn orange accent-2'>
                        <a class="modal-trigger modal-action modal-close waves-effect waves-green btn-flat" href="#modal4">Enviar</a>
                    </button>
                </div>
            </div>
        </div>

        <!-- GREAT JOB! MODAL -->

        <div id="modal4" class="modal">
            <div class="row">
                <div class="col s12 green center">
                    <h5 class="white-text">¡EXCELENTE!</h5>
                    <img src="../assets/images/greencheck.png" alt="" width="200px">
                    <h5 class="white-text">Ganaste: 100 pts</h5>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center">
                    <button id="count_click" type='submit' name='btn_login' class='col s6 push-s3 btn teal lighten-2'>
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">continuar</a>
                    </button>


                </div>
            </div>
        </div>


        <!-- User Modal -->


    <div id="modal1" class="modal ">
        <i class="tiny material-icons right">close</i>
        <p>
            <img class="photo"src="../assets/images/user.png" width="90px" alt="">
        </p>
        <h3 class="name">Nombre de Usuario</h3>
        <h4>
            <i class="small material-icons cyan-text text-darken-2">favorite_border</i>
            <div class="contador"></div>
        </h4>
    </div>


        <!-- Comienza una ruta MODAL -->

        <div id="modal2" class="modal">
            <div class="container" id="recorre1">
                <div class="space"></div>
                <div class="row">
                    <div class="offset-s3 col s6 div-planear">
                        <ul>
                            <li>
                                <h5 class="blue-grey-text text-darken-4 center">¡Comienza a recorrer la ciudad!</h5>
                            </li>
                            <br>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 l6">
                        <label>Duración</label>
                        <select class="browser-default">
                            <option value="" disabled selected>Elige la duración</option>
                            <option value="1">2 hrs</option>
                            <option value="2">4 hrs</option>
                            <option value="3">6+</option>
                        </select>
                    </div>
                    <div class="col s12 l6">
                        <label>Colonia</label>
                        <select class="browser-default">
                            <option value="" disabled selected>Elige una colonia</option>
                            <option value="1">Roma</option>
                            <option value="2">Condesa</option>
                            <option value="3">Centro</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col s10">
                    <button type='submit' name='btn_login' class='col s10 push-s2 btn orange accent-2'>
                        <a href="route1.html">Iniciar recorrido</a>
                    </button>

                </div>
            </div>
        </div>


        <!-- User SideNav -->


    <ul id="slide-out" class="side-nav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="../assets/images/soumaya.jpg" class="center" width="160%">
                </div>
                <div class="row">
                    <div class="col s4"></div>
                    <div class="col s3 ">
                        <img class="circle photo" src="../assets/images/user.png" width="90px" alt="">

                    </div>
                    <h4 class="white-text">Nombre de usuario</h4>
                </div>

                <h1 class="white-text name">Nombre de usuario</h1>
            </div>
        </li>
        <h5>
            <i class="tiny material-icons cyan-text text-darken-2">favorite_border</i>
            <div class="contador"></div>
        </h5>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a href="home.html">Home</a>
        </li>
        <button type='submit' name='btn_login' class='col s12 btn orange accent-2'>
            <a class="modal-trigger" href="#modal2"> Nuevo recorrido</a>
        </button>
    </ul>


    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase-auth.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../materialize/js/materialize.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7d6ykQP7zGfpXa4azMcDJnA9Ei2lD6Pk&callback=initMap">
    </script>

    <script src="../js/app-mapa.js"></script>
    <script src="../js/ruta.js"></script>
    <script src="../js/app-options.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/login.js"></script>


</body>

</html>