<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>rally</title>
    <link rel="stylesheet" href="../materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/main-map.css">
</head>

<body>

    <!-- Navbar -->

    <header>
        <nav class="nav-extended blue-grey darken-4">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">
                    <img src="../assets/images/rally-logo.png" alt="">
                </a>
                <a href="#" data-activates="slide-out" class="button-collapse show-on-large">
                    <i class="material-icons">menu</i>
                </a>

                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <h6 id="name">nombre de usuario</h6>
                    </li>
                    <li>
                        <a class="modal-trigger" href="#modal1">
                            <img id="photo" src="../assets/images/user.png" width="50px" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Parallax -->

    <div class="parallax-container route">
        <div class="parallax">
            <img src="../assets/images/diegoparalax.jpg" width="300px">
        </div>
    </div>


        <!-- trivia MODAL -->

        <div id="modal3" class="modal">
            <div class="row">
                <div class="col s12 indigo lighten-2 center">
                    <h5 class="white-text"> TRIVIA </h5>
                    <h6 class="white-text">¿Dónde se encuentra el vitral de ntra. sra. del Carmen?</h6>
                    <img src="../assets/images/carmen.jpg" alt="" width="200px">
                </div>
            </div>
            <div class="row">
                <div class="col s12 center">
                    <form action="#" class="center">
                        <p>
                            <input type="checkbox" id="test5" />
                            <label for="test5">Dentro de la nave lateral</label>
                        </p>
                        <p>
                            <input type="checkbox" id="test4" />
                            <label for="test4">En el baptisterio</label>
                        </p>
                        <p>
                            <input type="checkbox" id="test4" />
                            <label for="test4">En el atrio</label>
                        </p>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center">
                    <button type='submit' name='btn_login' class='col s6 push-s3 btn orange accent-2'>
                        <a class="modal-trigger modal-action modal-close waves-effect waves-green btn-flat" href="#modal4">Enviar</a>
                    </button>
                </div>
            </div>
        </div>

        <!-- GREAT JOB! MODAL -->

        <div>
            <div class="row">
                <div class="col s12 green center">
                    <h5 class="white-text">¡Haz terminado el Rally!</h5>
                    <h4 class="white-text">col. San Ángel</h4>
                    <img src="../assets/images/greencheck.png" alt="" width="200px">
                    <h4>
                        <h5 class="white-text">Puntos acumulados</h5>
                        <div class="contador white-text"></div>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center">
                    <button id="count_click" type='submit' name='btn_login' class='col s6 push-s3 btn green'>
                        <a href="#!" class="modal-action modal-close white-text btn-flat">¡Canjear puntos por recompensas!</a>
                    </button>
                </div>
            </div>
        </div>


        <!-- User Modal -->

        <div id="modal1" class="modal ">
            <i class="tiny material-icons right">close</i>
            <p>
                <img src="../assets/images/user.png" width="90px" alt="">
            </p>
            <h3>Nombre de Usuario</h3>
            <h4>
                <i class="small material-icons cyan-text text-darken-2">favorite_border</i>
                <div class="contador"></div>
            </h4>
        </div>

        <!-- Comienza una ruta MODAL -->

        <div id="modal2" class="modal">
            <div class="container" id="recorre1">
                <div class="space"></div>
                <div class="row">
                    <div class="offset-s3 col s6 div-planear">
                        <ul>
                            <li>
                                <h5 class="blue-grey-text text-darken-4 center">¡Comienza a recorrer la ciudad!</h5>
                            </li>
                            <br>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 l6">
                        <label>Duración</label>
                        <select class="browser-default">
                            <option value="" disabled selected>Elige la duración</option>
                            <option value="1">2 hrs</option>
                            <option value="2">4 hrs</option>
                            <option value="3">6+</option>
                        </select>
                    </div>
                    <div class="col s12 l6">
                        <label>Colonia</label>
                        <select class="browser-default">
                            <option value="" disabled selected>Elige una colonia</option>
                            <option value="1">Roma</option>
                            <option value="2">Condesa</option>
                            <option value="3">Centro</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col s10">
                    <button type='submit' name='btn_login' class='col s10 push-s2 btn orange accent-2'>
                        <a href="route1.html">Iniciar recorrido</a>
                    </button>

                </div>
            </div>
        </div>


        <!-- User SideNav -->

        <ul id="slide-out" class="side-nav">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="../assets/images/soumaya.jpg" class="center" width="160%">
                    </div>
                    <div class="row">
                        <div class="col s4"></div>
                        <div class="col s3 ">
                            <img class="circle" src="../assets/images/user.png" width="90px" alt="">
                        </div>
                        <div class="col s5"></div>
                    </div>
                    <h4 class="white-text">Nombre de usuario</h4>
                </div>
            </li>
            <h5>
                <i class="tiny material-icons cyan-text text-darken-2">favorite_border</i>
                <div class="contador"></div>
            </h5>
            <li>
                <div class="divider"></div>
            </li>
            <li>
                <a href="home.html">Home</a>
            </li>
            <button type='submit' name='btn_login' class='col s12 btn orange accent-2'>
                <a class="modal-trigger" href="#modal2"> Nuevo recorrido</a>
            </button>
        </ul>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="../materialize/js/materialize.min.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7d6ykQP7zGfpXa4azMcDJnA9Ei2lD6Pk&callback=initMap">
        </script>

        <script src="../js/app-mapa.js"></script>
        <script src="../js/ruta.js"></script>
        <script src="../js/app-options.js"></script>
        <script src="../js/app.js"></script>
        <script src="../js/login.js"></script>

</body>

</html>