<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>rally</title>
    <link rel="stylesheet" href="../materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/main-map.css">
</head>

<body>

    <!-- Navbar -->

    <header>
        <nav class="nav-extended blue-grey darken-4">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">
                    <img src="../assets/images/rally-logo.png" alt="">
                </a>
                <a href="#" data-activates="slide-out" class="button-collapse show-on-large">
                    <i class="material-icons">menu</i>
                </a>
                <a href="#" data-activates="mobile-demo" class="button-collapse right">
                    <ul>
                        <li>
                            <input id="last_name" type="text" class="validate" placeholder="search">
                        </li>
                        <li>
                            <i class="small material-icons">search</i>
                        </li>
                    </ul>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <h6 id="name">nombre de usuario</h6>
                    </li>
                    <li>
                        <a class="modal-trigger" href="#modal1">
                            <img id="photo" src="../assets/images/user.png" width="50px" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Parallax -->

   
    <!-- Comienza a recorrer la ciudad -->

   
    <div id="map"></div>
    <div id="right-panel">
    <div>
    <b>Start:</b>
    <select id="start">
      <option value="Halifax, NS">Halifax, NS</option>
      <option value="Boston, MA">Boston, MA</option>
      <option value="New York, NY">New York, NY</option>
      <option value="Miami, FL">Miami, FL</option>
    </select>
    <br>
    <b>Waypoints:</b> <br>
    <i>(Ctrl+Click or Cmd+Click for multiple selection)</i> <br>
    <select multiple id="waypoints">
      <option value="montreal, quebec">Montreal, QBC</option>
      <option value="toronto, ont">Toronto, ONT</option>
      <option value="chicago, il">Chicago</option>
      <option value="winnipeg, mb">Winnipeg</option>
      <option value="fargo, nd">Fargo</option>
      <option value="calgary, ab">Calgary</option>
      <option value="spokane, wa">Spokane</option>
    </select>
    <br>
    <b>End:</b>
    <select id="end">
      <option value="Vancouver, BC">Vancouver, BC</option>
      <option value="Seattle, WA">Seattle, WA</option>
      <option value="San Francisco, CA">San Francisco, CA</option>
      <option value="Los Angeles, CA">Los Angeles, CA</option>
    </select>
    <br>
      <input type="submit" id="submit">
    </div>
    <div id="directions-panel"></div>
    </div>
       

        <!-- Recorridos populares -->

       

    <!-- Parallax -->

    

    <!-- User Modal -->

    <div id="modal1" class="modal ">
        <i class="tiny material-icons right">close</i>
        <p>
            <img src="../assets/images/user.png" width="90px" alt="">
        </p>
        <h3>Nombre de Usuario</h3>
        <h4>
            <i class="small material-icons cyan-text text-darken-2">favorite_border</i>
            Puntos : 8989
        </h4>
    </div>

    <!-- Comienza una ruta MODAL -->

    <div id="modal2" class="modal">
        <div class="container" id="recorre1">
            <div class="space"></div>
            <div class="row">
                <div class="offset-s3 col s6 div-planear">
                    <ul>
                        <li>
                            <h5 class="blue-grey-text text-darken-4 center">¡Comienza a recorrer la ciudad!</h5>
                        </li>
                        <br>
                    </ul>
                </div>
            </div>

            <div class="row">
                <label>Colonia</label>
                <select class="browser-default">
                    <option value="" disabled selected>Elige una colonia</option>
                    <option value="1">Roma</option>
                    <option value="2">Condesa</option>
                    <option value="3">Centro</option>
                </select>
            </div>
            <div class="col s4 push-s2">
                <label>Duración</label>
                <select class="browser-default">
                    <option value="" disabled selected>Elige la duración</option>
                    <option value="1">2 hrs</option>
                    <option value="2">4 hrs</option>
                    <option value="3">6+</option>
                </select>
            </div>
            <br>
        </div>
        <div class="row">
            <div class="col s10">
                <button type='submit' name='btn_login' class='col s10 push-s2 btn orange accent-2'>
                    Iniciar recorrido
                </button>
            </div>
        </div>
    </div>

    <!-- User SideNav -->

    <ul id="slide-out" class="side-nav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="../assets/images/soumaya.jpg" class="center" width="160%">
                </div>
                <div class="row">
                    <div class="col s4"></div>
                    <div class="col s3 ">
                        <img class="circle" src="../assets/images/user.png" width="90px" alt="">
                    </div>
                    <div class="col s5"></div>
                </div>
                <h5 class="white-text">Nombre de usuario</h5>
            </div>
        </li>
        <h6>
            <i class="tiny material-icons cyan-text text-darken-2">favorite_border</i>
            Puntos : 8989
        </h6>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a href="home.html">Home</a>
        </li>
        <button type='submit' name='btn_login' class='col s10 push-s2 btn orange accent-3'>
            Iniciar recorrido
        </button>
    </ul>

    <ul id="slide-out" class="side-nav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="../assets/images/gray_suitcase.jpg" class="center" width="160%">
                </div>
                <div class="row">
                    <div class="col s4"></div>
                    <div class="col s3 ">
                        <img class="circle" src="../assets/images/userman.png" width="90px" alt="">
                    </div>
                    <div class="col s5"></div>
                </div>
                <h5 class="white-text">Elena Troya</h5>
                <h5 class="white-text">elena@troya.com</h5>
            </div>
        </li>
        <p>Puntaje
            <i class="tiny material-icons cyan-text text-darken-2">star star star star_half star_border</i>
        </p>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a href="home.html">Home</a>
        </li>
        <li>
            <a href="friends.html">Amigos</a>
        </li>
        <li>
            <a class="modal-trigger" href="#modal2">Planea tu viaje</a>
        </li>
        <a href="profile.html" class="modal-trigger waves-effect deep-purple lighten-3 btn planear">Ver perfil de viajes</a>
        <br>
        <a href="#" class="modal-trigger waves-effect  green accent-3 btn planear">¡RECOMPENSAS!</a>
    </ul>


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../materialize/js/materialize.min.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7d6ykQP7zGfpXa4azMcDJnA9Ei2lD6Pk&callback=initMap">
    </script>
    <script src="../js/login.js"></script>
    <script src="../js/app-mapa.js"></script>
    <script src="../js/app.js"></script>
   
</body>

</html>